<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallcai.fulfillment.infrastructure.mapper.cp.RecordResultMapper" >
  <resultMap id="BaseResultMap" type="com.mallcai.fulfillment.infrastructure.object.cp.RecordResult" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="check_no" property="checkNo" jdbcType="VARCHAR" />
    <result column="biz_tag" property="bizTag" jdbcType="VARCHAR" />
    <result column="check_key" property="checkKey" jdbcType="VARCHAR" />
    <result column="left_value" property="leftValue" jdbcType="VARCHAR" />
    <result column="right_value" property="rightValue" jdbcType="VARCHAR" />
    <result column="is_pattern" property="isPattern" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, check_no, biz_tag, check_key, left_value, right_value, is_pattern, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mallcai.fulfillment.infrastructure.object.cp.RecordResultCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cp_record_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cp_record_result
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cp_record_result
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mallcai.fulfillment.infrastructure.object.cp.RecordResultCriteria" >
    delete from cp_record_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mallcai.fulfillment.infrastructure.object.cp.RecordResult" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cp_record_result (check_no, biz_tag, check_key, 
      left_value, right_value, is_pattern, 
      create_time)
    values (#{checkNo,jdbcType=VARCHAR}, #{bizTag,jdbcType=VARCHAR}, #{checkKey,jdbcType=VARCHAR}, 
      #{leftValue,jdbcType=VARCHAR}, #{rightValue,jdbcType=VARCHAR}, #{isPattern,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mallcai.fulfillment.infrastructure.object.cp.RecordResult" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cp_record_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="checkNo != null" >
        check_no,
      </if>
      <if test="bizTag != null" >
        biz_tag,
      </if>
      <if test="checkKey != null" >
        check_key,
      </if>
      <if test="leftValue != null" >
        left_value,
      </if>
      <if test="rightValue != null" >
        right_value,
      </if>
      <if test="isPattern != null" >
        is_pattern,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="checkNo != null" >
        #{checkNo,jdbcType=VARCHAR},
      </if>
      <if test="bizTag != null" >
        #{bizTag,jdbcType=VARCHAR},
      </if>
      <if test="checkKey != null" >
        #{checkKey,jdbcType=VARCHAR},
      </if>
      <if test="leftValue != null" >
        #{leftValue,jdbcType=VARCHAR},
      </if>
      <if test="rightValue != null" >
        #{rightValue,jdbcType=VARCHAR},
      </if>
      <if test="isPattern != null" >
        #{isPattern,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mallcai.fulfillment.infrastructure.object.cp.RecordResultCriteria" resultType="java.lang.Integer" >
    select count(*) from cp_record_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cp_record_result
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.checkNo != null" >
        check_no = #{record.checkNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bizTag != null" >
        biz_tag = #{record.bizTag,jdbcType=VARCHAR},
      </if>
      <if test="record.checkKey != null" >
        check_key = #{record.checkKey,jdbcType=VARCHAR},
      </if>
      <if test="record.leftValue != null" >
        left_value = #{record.leftValue,jdbcType=VARCHAR},
      </if>
      <if test="record.rightValue != null" >
        right_value = #{record.rightValue,jdbcType=VARCHAR},
      </if>
      <if test="record.isPattern != null" >
        is_pattern = #{record.isPattern,jdbcType=BIT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cp_record_result
    set id = #{record.id,jdbcType=BIGINT},
      check_no = #{record.checkNo,jdbcType=VARCHAR},
      biz_tag = #{record.bizTag,jdbcType=VARCHAR},
      check_key = #{record.checkKey,jdbcType=VARCHAR},
      left_value = #{record.leftValue,jdbcType=VARCHAR},
      right_value = #{record.rightValue,jdbcType=VARCHAR},
      is_pattern = #{record.isPattern,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mallcai.fulfillment.infrastructure.object.cp.RecordResult" >
    update cp_record_result
    <set >
      <if test="checkNo != null" >
        check_no = #{checkNo,jdbcType=VARCHAR},
      </if>
      <if test="bizTag != null" >
        biz_tag = #{bizTag,jdbcType=VARCHAR},
      </if>
      <if test="checkKey != null" >
        check_key = #{checkKey,jdbcType=VARCHAR},
      </if>
      <if test="leftValue != null" >
        left_value = #{leftValue,jdbcType=VARCHAR},
      </if>
      <if test="rightValue != null" >
        right_value = #{rightValue,jdbcType=VARCHAR},
      </if>
      <if test="isPattern != null" >
        is_pattern = #{isPattern,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mallcai.fulfillment.infrastructure.object.cp.RecordResult" >
    update cp_record_result
    set check_no = #{checkNo,jdbcType=VARCHAR},
      biz_tag = #{bizTag,jdbcType=VARCHAR},
      check_key = #{checkKey,jdbcType=VARCHAR},
      left_value = #{leftValue,jdbcType=VARCHAR},
      right_value = #{rightValue,jdbcType=VARCHAR},
      is_pattern = #{isPattern,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.mallcai.fulfillment.infrastructure.object.cp.RecordResultCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cp_record_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>