<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mallcai.fulfillment.dc.mapper.dc.PurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.mallcai.fulfillment.dc.valueobject.dc.PurchaseDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="category_type" property="categoryType" jdbcType="TINYINT" />
    <result column="city_product_id" property="cityProductId" jdbcType="INTEGER" />
    <result column="forecast_num" property="forecastNum" jdbcType="INTEGER" />
    <result column="forecast_type" property="forecastType" jdbcType="TINYINT" />
    <result column="forecast_date" property="forecastDate" jdbcType="DATE" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, city_id, warehouse_id, category_type, city_product_id, forecast_num, forecast_type, 
    forecast_date, version, is_deleted, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mallcai.fulfillment.dc.valueobject.dc.PurchaseCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from purchase
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from purchase
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mallcai.fulfillment.dc.valueobject.dc.PurchaseCriteria" >
    delete from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mallcai.fulfillment.dc.valueobject.dc.PurchaseDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into purchase (city_id, warehouse_id, category_type, 
      city_product_id, forecast_num, forecast_type, 
      forecast_date, version, is_deleted, 
      create_time, update_time)
    values (#{cityId,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER}, #{categoryType,jdbcType=TINYINT}, 
      #{cityProductId,jdbcType=INTEGER}, #{forecastNum,jdbcType=INTEGER}, #{forecastType,jdbcType=TINYINT}, 
      #{forecastDate,jdbcType=DATE}, #{version,jdbcType=INTEGER}, #{isDeleted,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mallcai.fulfillment.dc.valueobject.dc.PurchaseDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into purchase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
      <if test="categoryType != null" >
        category_type,
      </if>
      <if test="cityProductId != null" >
        city_product_id,
      </if>
      <if test="forecastNum != null" >
        forecast_num,
      </if>
      <if test="forecastType != null" >
        forecast_type,
      </if>
      <if test="forecastDate != null" >
        forecast_date,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="categoryType != null" >
        #{categoryType,jdbcType=TINYINT},
      </if>
      <if test="cityProductId != null" >
        #{cityProductId,jdbcType=INTEGER},
      </if>
      <if test="forecastNum != null" >
        #{forecastNum,jdbcType=INTEGER},
      </if>
      <if test="forecastType != null" >
        #{forecastType,jdbcType=TINYINT},
      </if>
      <if test="forecastDate != null" >
        #{forecastDate,jdbcType=DATE},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mallcai.fulfillment.dc.valueobject.dc.PurchaseCriteria" resultType="java.lang.Integer" >
    select count(*) from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purchase
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cityId != null" >
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.warehouseId != null" >
        warehouse_id = #{record.warehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryType != null" >
        category_type = #{record.categoryType,jdbcType=TINYINT},
      </if>
      <if test="record.cityProductId != null" >
        city_product_id = #{record.cityProductId,jdbcType=INTEGER},
      </if>
      <if test="record.forecastNum != null" >
        forecast_num = #{record.forecastNum,jdbcType=INTEGER},
      </if>
      <if test="record.forecastType != null" >
        forecast_type = #{record.forecastType,jdbcType=TINYINT},
      </if>
      <if test="record.forecastDate != null" >
        forecast_date = #{record.forecastDate,jdbcType=DATE},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purchase
    set id = #{record.id,jdbcType=BIGINT},
      city_id = #{record.cityId,jdbcType=INTEGER},
      warehouse_id = #{record.warehouseId,jdbcType=INTEGER},
      category_type = #{record.categoryType,jdbcType=TINYINT},
      city_product_id = #{record.cityProductId,jdbcType=INTEGER},
      forecast_num = #{record.forecastNum,jdbcType=INTEGER},
      forecast_type = #{record.forecastType,jdbcType=TINYINT},
      forecast_date = #{record.forecastDate,jdbcType=DATE},
      version = #{record.version,jdbcType=INTEGER},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mallcai.fulfillment.dc.valueobject.dc.PurchaseDO" >
    update purchase
    <set >
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="categoryType != null" >
        category_type = #{categoryType,jdbcType=TINYINT},
      </if>
      <if test="cityProductId != null" >
        city_product_id = #{cityProductId,jdbcType=INTEGER},
      </if>
      <if test="forecastNum != null" >
        forecast_num = #{forecastNum,jdbcType=INTEGER},
      </if>
      <if test="forecastType != null" >
        forecast_type = #{forecastType,jdbcType=TINYINT},
      </if>
      <if test="forecastDate != null" >
        forecast_date = #{forecastDate,jdbcType=DATE},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mallcai.fulfillment.dc.valueobject.dc.PurchaseDO" >
    update purchase
    set city_id = #{cityId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      category_type = #{categoryType,jdbcType=TINYINT},
      city_product_id = #{cityProductId,jdbcType=INTEGER},
      forecast_num = #{forecastNum,jdbcType=INTEGER},
      forecast_type = #{forecastType,jdbcType=TINYINT},
      forecast_date = #{forecastDate,jdbcType=DATE},
      version = #{version,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.mallcai.fulfillment.dc.valueobject.dc.PurchaseCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>